.container_head {
    height: 20vh;
}

.container_head .container_logo{
    height: 20vh;
}

.container_head img{
    height: 18vh;
}

.container_head h1{
    font-family:'Times New Roman', Times, serif;
}

.container_corpo{
    height: 70vh;
    margin: auto;
    font-size: 85%;
    background: rgb(23,162,184);
    background: linear-gradient(125deg, rgba(23,162,184,1) 35%, rgba(255,255,255,1) 100%);
}

.container_corpo img{
    height: 60vh;
}

@media screen and (max-width: 768px) {
    body {
        display: block;
        background-image: none;
    }

}